<header>
  <div id="navbar" class="container">
    <div id="navbar-left">
      <a routerLink="/home" class="navbar-left__logo">
        <img src="/assets/lotus-flower.svg" alt="logo da marca" class="logo__img">
        <span class="navbar-left__title">Aetheris</span>
      </a>
    </div>

    <div id="navbar-center">
      <a href="/">Plants</a>
      <a href="/">Plants Care</a>
      <a routerLink="/add-product">Add Plant</a>
      <a href="/">About</a>
    </div>

    <div id="navbar-right">
      <form action="/search" method="get" class="navbar-right__search-form">
        <input type="text" name="query" placeholder="Search products" class="navbar-right__search-input">
      </form>
      <a href="/">
        <img src="/assets/magnifying-glass.svg" alt="search icon" class="navbar-right__icon">
      </a>
      @if (userIsAutenticated()) {
        <a (click)="logout()">
          <img src="/assets/logout-user.svg" alt="logout user icon" class="navbar-right__icon">
        </a>
      } @else {
        <a routerLink="/login">
          <img src="/assets/user.svg" alt="user icon" class="navbar-right__icon">
        </a>
      }
      <a href="javascript:void(0)" (click)="toggleCart()">
        <img src="/assets/shopping-cart.svg" alt="cart icon" class="navbar-right__icon">
      </a>
    </div>
  </div>
</header>